@import url("https://fonts.googleapis.com/css2?family=Anek+Tamil:wght@100;200;300;400;500;600;700;800&display=swap");

:root {
  /*<<<------------ FONTS --------------------*/
  --icp-ff-primary: "Anek Tamil", sans-serif;

  /*<<<------------ SHADOWS --------------------*/
  --icp-shdw-1: 0 5px 15px rgba(0, 0, 0, 0.2);
  --icp-shdw-2: 0 5px 15px rgba(0, 0, 0, 0.1);
  --icp-shdw-3: 0 5px 10px rgba(0, 0, 0, 0.05);

  /*<<<------------ TRANSITIONS --------------------*/
  --icp-transit-1: all 0.5s ease;
  --icp-transit-2: all 0.3s ease;

  /*<<<------------   COLORS --------------------*/
  --icp-clr-white: white;
  --icp-clr-black: rgb(27, 27, 27);

  /*<<<------------   SPACING --------------------*/
  --icp-spacing-1: 0.2em;
  --icp-spacing-2: 0.3em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-collapse: collapse;
}

html {
  font-family: var(--icp-ff-primary);
  scroll-behavior: smooth;
  transition: var(--icp-transit-2);
}

/*<<<<------------ GRID --------------------*/
.gridContainer {
  display: grid;
  grid-template-areas:
    "nav-center"
    "mainHeader"
    "heroSection heroSection"
    "msgContainer";
}

/*<<<<------------ NAV BAR --------------------*/

.nav-center {
  display: flex;
  align-items: center;
  height: 4rem;
  background-color: var(--icp-clr-white);
  box-shadow: var(--icp-shdw-2);
  text-transform: uppercase;
  padding-left: 0.5em;
}

/*<<<<------------ HEADER --------------------*/

.mainHeader {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-transform: uppercase;
  height: 20rem;
  letter-spacing: var(--icp-spacing-1);
  font-weight: 100;
  color: var(--icp-clr-black);
}

.happyIconContainer {
  margin-bottom: -1.2em;
}

.happyIconSize {
  font-size: 70px;
}

.d-none {
  display: none;
}
.mainTxt {
  font-size: 2.5rem;
}

.container {
  width: 100%;
  text-align: center;
  background-color: var(--icp-clr-black);
  color: var(--icp-clr-white);
  padding: 1em 0.2em;
}

/*<<<<------------ HERO SECTION --------------------*/
.heroSection {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6rem;
}

.btnHero {
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid var(--icp-clr-black);
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: var(--icp-spacing-1);
}
.btnHero:hover {
  background-color: var(--icp-clr-black);
  letter-spacing: var(--icp-spacing-2);
  color: var(--icp-clr-white);
  transition: var(--icp-transit-2);
}

.btnOne {
  padding: 0.3em 1.2em;
  margin-right: 0.7rem;
}
.btnTwo {
  padding: 0.3em 1.2em;
  margin-left: 0.7rem;
}

/*<<<<------------ MSG CONTAINER --------------------*/

.msgContainer {
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  height: 4rem;
  font-size: 1.2rem;
}
